* {
    text-align: center;
    list-style: none;
    font-size: 36px;
}

.title {
    font-size: 72px;
    color: rgb(148, 115, 5);
}

.recipe-link {
    font-size: 48px;
    color: aliceblue;
}

img {
    width: 800px;
    height: auto;
}